<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Contents/CommonPage.aspx">
      <error statusCode="403" redirect="Contents/CommonPage.aspx" />
      <error statusCode="404" redirect="Contents/CommonPage.aspx" />
    </customErrors>
  </system.web>
</configuration>
